<div class="row">
    <div class="col m10 offset-m1">
        <html>

        <head>
        </head>

        <body>
            <div id="wrapper">
                <span class="tournament-title">Tournoi de qualification</span>
                <div class="label qualification">
                    <b>Finale</b>
                    <br>
                    <small>Pikachu vs Pikachu</small>
                    <br>
                    <small><b>Gagnant : {{ winner }}</b></small>
                </div>
                <div class="branch">
                    <div class="entry">
                        <span class="label qualification">Demi-finale</span>
                        <div class="branch">
                            <div class="entry">
                                <span class="label qualification">Quart de finale</span>
                            </div>
                            <div class="entry">
                                <span class="label qualification">Quart de finale</span>
                            </div>
                        </div>
                    </div>
                    <div class="entry ">
                        <span class="label qualification">Demi-finale</span>
                        <div class="branch">
                            <div class="entry">
                                <span class="label qualification">Quart de finale</span>
                            </div>
                            <div class="entry">
                                <span class="label qualification">Quart de finale</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <div id="wrapper">
                <span class="tournament-title">Tournoi de bonze</span>
                <div class="label bronze">
                    <b>Finale</b>
                    <br>
                    <small>Pikachu vs Pikachu</small>
                    <br>
                    <small><b>Gagnant : {{ winner }}</b></small>
                </div>
                <div class="branch">
                    <div class="entry ">
                        <span class="label bronze">Demi-finale</span>
                        <div class="branch">
                            <div class="entry">
                                <span class="label bronze">Quart de finale</span>
                            </div>
                            <div class="entry">
                                <span class="label bronze">Quart de finale</span>
                            </div>
                        </div>
                    </div>
                    <div class="entry">
                        <span class="label bronze">Demi-finale</span>
                        <div class="branch">
                            <div class="entry">
                                <span class="label bronze">Quart de finale</span>
                            </div>
                            <div class="entry">
                                <span class="label bronze">Quart de finale</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <div id="wrapper">
                <span class="tournament-title">Tournoi d'argent</span>
                <div class="label silver">
                    <b>Finale</b>
                    <br>
                    <small>Pikachu vs Pikachu</small>
                    <br>
                    <small><b>Gagnant : {{ winner }}</b></small>
                </div>
                <div class="branch">
                    <div class="entry ">
                        <span class="label silver">Demi-finale</span>
                        <div class="branch">
                            <div class="entry">
                                <span class="label silver">Quart de finale</span>
                            </div>
                            <div class="entry">
                                <span class="label silver">Quart de finale</span>
                            </div>
                        </div>
                    </div>
                    <div class="entry">
                        <span class="label silver">Demi-finale</span>
                        <div class="branch">
                            <div class="entry">
                                <span class="label silver">Quart de finale</span>
                            </div>
                            <div class="entry">
                                <span class="label silver">Quart de finale</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <div id="wrapper">
                <span class="tournament-title">Tournoi d'or (ou tournoi des champions)</span>
                <div class="label gold">
                    <b>Finale</b>
                    <br>
                    <small>Pichi vs Rattata</small>
                    <br>
                    <small><b>Gagnant : {{ winner }}</b></small>
                </div>
                <div class="branch">
                    <div class="entry ">
                        <span class="label gold">Demi-finale</span>
                        <div class="branch">
                            <div class="entry">
                                <span class="label gold">Quart de finale</span>
                                <div class="branch">
                                    <div class="entry">
                                        <span class="label gold">Huitième de finale</span>
                                    </div>
                                    <div class="entry">
                                        <span class="label gold">Huitième de finale</span>
                                    </div>
                                </div>
                            </div>
                            <div class="entry">
                                <span class="label gold">Quart de finale</span>
                                <div class="branch">
                                    <div class="entry">
                                        <span class="label gold">Huitième de finale</span>
                                    </div>
                                    <div class="entry">
                                        <span class="label gold">Huitième de finale</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="entry">
                        <span class="label gold">Demi-finale</span>
                        <div class="branch">
                            <div class="entry">
                                <span class="label gold">Quart de finale</span>
                                <div class="branch">
                                    <div class="entry">
                                        <span class="label gold">Huitième de finale</span>
                                    </div>
                                    <div class="entry">
                                        <span class="label gold">Huitième de finale</span>
                                    </div>
                                </div>
                            </div>
                            <div class="entry">
                                <span class="label gold">Quart de finale</span>
                                <div class="branch">
                                    <div class="entry">
                                        <span class="label gold">Huitième de finale</span>
                                    </div>
                                    <div class="entry">
                                        <span class="label gold">Huitième de finale</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

        </html>
    </div>
</div>