<div appDisableRightClick>
  <nav class="light-blue lighten-1">
    <div class="nav-wrapper">
      <ul class="center">
        <li><a href="documentation">Règles du jeu</a></li>
        <li><a href="pokemons">Pokémons</a></li>
        <li><a href="fight">Ash vs Goh</a></li>
        <li><a href="tournament">Tournois</a></li>
      </ul>
      <div class="nav-content">
        <ng-template [ngIf]="isLoggedIn()">
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light blue modal-trigger" href="#deconnection">
            <i class="material-icons" style="font-size: 36px">close</i>
          </a>
        </ng-template>
      </div>
    </div>
  </nav>

  <div id="deconnection" class="modal">
    <div class="modal-content">
      <h4>Confirmation</h4>
      <p>Êtes-vous sûr de vouloir quitter le jeu ?</p>
    </div>
    <div class="modal-footer">
      <a (click)="logout()" class="modal-close waves-effect waves-green btn-flat">Oui</a>
      <a class="modal-close waves-effect waves-green btn-flat">Non</a>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Angular</h5>
          <p class="grey-text text-lighten-4">Ce mini-jeu a été développé en Angular</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Liens</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://angular.io">Angular</a></li>
            <li><a class="grey-text text-lighten-3" href="https://materializecss.com">Materialize (framework
                graphique)</a></li>
            <li><a class="grey-text text-lighten-3" href="https://developer.mozilla.org/fr/">Ressources pour les
                développeurs</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/html/default.asp">Tutoriel HTML</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://stackblitz.com/">Environnement de développement
                intégré WEB</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Produit par Emmanuel Marey, Copyright © 2023
        <a class="grey-text text-lighten-4 right" href="https://www.pokepedia.fr/Pikachu">Poképédia (Bibliothèque de
          Pokémons)</a>
      </div>
    </div>
  </footer>
</div>