<div class="container">
    <div class="row">

        <app-search-pokemon></app-search-pokemon>

        <div class="col s12 m12 l12 xl12">
            <div class="card">
                <div class="card-action">
                    <span>Trier par :</span>
                    <br>
                    <label><input name="sort" type="radio" value="id" checked
                            (change)="sortPokemonListById()" /><span>Identifiant</span></label>
                    <div class="space"></div>
                    <label><input name="sort" type="radio" value="name"
                            (change)="sortPokemonListByName()" /><span>Nom</span></label>
                    <div class="space"></div>
                    <label><input name="sort" type="radio" value="level"
                            (change)="sortPokemonListByLevelAndName()" /><span>Niveau et nom</span></label>
                    <div class="space"></div>
                    <label><input name="sort" type="radio" value="type"
                        (change)="sortPokemonListByTypeAndName()" /><span>Type et nom</span></label>
                    <div class="space"></div>
                    <label><input name="sort" type="radio" value="alignment"
                            (change)="sortPokemonListByAlignmentAndId()" /><span>Alignement et identifiant</span></label>
                    <br /><br />
                    <label>
                        <input id="largeCard" type="checkbox" class="filled-in" [checked]="largeCard" (change)="displayLargeCard()" />
                        <span>Grande carte</span>
                    </label>             
                </div>
            </div>
        </div>

        <div *ngFor="let pokemon of pokemonList" class="col s12 m6 l6 xl4">
            <div *ngIf="largeCard; then largeCardTemplate else smallCardTemplate"></div>

            <ng-template #largeCardTemplate>
                <div (click)="goToPokemon(pokemon)" class="card horizontal" pokemon-Border-Large-Card>
                    <div class="card-image">
                        <div class="header" style="color: blue; padding: 10px 2px 10px 10px">
                            <b>{{ pokemon.id }} - {{ pokemon.name }}</b>
                        </div>
                        <div>
                            <img [src]="pokemon.picture" />
                        </div>
                        <br />
                        <div style="text-align: center">
                            <span class="{{ pokemon.type | pokemonTypeColor}}">
                                {{ pokemonService.getPokemonType(pokemon.type) }}
                            </span>
                        </div>
                        <div style="text-align: center">
                            <span class="{{ pokemon.alignment | pokemonAlignmentColor }}">
                                {{ pokemonService.getAlignment(pokemon.alignment) }}
                            </span>
                        </div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 10px 2px 10px 2px">
                            <div>
                                <small>
                                    <b>Niveau : </b> {{ pokemon.level }}
                                    <br>
                                    <b>Description : </b> {{ pokemonService.getShortDescription(pokemon.description) }}
                                    <br>
                                    <b>Taille : </b> {{ pokemon.size }} cm, <b>poids : </b> {{ pokemon.weight }} kg
                                    <br>
                                    <b>Points de vie : </b> {{ pokemon.hitPoints }}
                                    <br>
                                    <b>Protection : </b> {{ pokemon.protection }}
                                    <br>
                                    <b>Mouvement : </b> {{ pokemonService.getMovement(pokemon.movement) }}
                                    <br>
                                    <b>Attaque : </b> {{ pokemon.attack }}
                                    <br>
                                    <b>Dégâts : </b> {{ pokemon.damage }}D6
                                    <br>
                                    <b>Défense : </b> {{ pokemon.defense }}
                                </small>
                            </div>
                            <div style="padding: 10px 0px 10px 0px">
                                <small>
                                    <b>Attaques spéciales :</b><br>
                                </small>
                                <span *ngFor="let specialAbility of pokemon.specialAbilities"
                                    class="{{ specialAbility.specialAbility | pokemonSpecialAbilityColor }}">
                                    {{ pokemonService.getSpecialAbility(specialAbility.specialAbility) }}
                                </span>
                            </div>
                            <div>
                                <small>
                                    <b>Défense spéciale : </b><br>
                                    <span class="{{ pokemon.specialDefense| pokemonSpecialDefenseColor }}">
                                        {{ pokemonService.getSpecialDefense(pokemon.specialDefense) }}
                                    </span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #smallCardTemplate>
                <div (click)="goToPokemon(pokemon)" class="card horizontal" pokemon-Border-Small-Card>
                    <div class="card-image">
                        <div class="header" style="color: blue; padding: 10px 2px 10px 10px">
                            <b>{{ pokemon.id }} - {{ pokemon.name }}</b>
                        </div>
                        <div>
                            <img [src]="pokemon.picture" />
                        </div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 10px 2px 10px 2px">
                            <div>
                                <small>
                                    <b>Niveau : </b> {{ pokemon.level }}
                                    <br>
                                    <b>Description : </b> {{ pokemonService.getShortDescription(pokemon.description) }}
                                    <br>
                                </small>
                            </div>
                            <div style="text-align: center">
                                <span class="{{ pokemon.type | pokemonTypeColor }}">
                                    {{ pokemonService.getPokemonType(pokemon.type) }}
                                </span>
                            </div>
                            <div style="text-align: center">
                                <span class="{{ pokemon.alignment | pokemonAlignmentColor }}">
                                    {{ pokemonService.getAlignment(pokemon.alignment) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>