<div class="container">
    <div class="row">
        <div class="col m4" style="height: 1200px;">
        </div>
        <div class="col m4" style="height: 1200px;">
            <img src="../../../assets/Pokemon-battle.jpg" width="100%" style="padding-top: 20px;"/>
            Jet d'attaque:<br>
            <img src="../../../assets/dices/D20-8.jpg" width="25%"/>
            Jet de défense:<br>
            <img src="../../../assets/dices/D10-5.jpg" width="25%"/>
            Dégâts<br>
            <img src="../../../assets/dices/D6-6.jpg" width="25%"/>
        </div>
        <div class="col m4" style="height: 1200px;">
        </div>
    </div>
</div>
