<div class="container">
    <div class="row">
        <div class="col m4">
            <div *ngIf="fighterAsh" class="card horizontal" pokemon-Fighter-Card [fighter]=fighterAsh>
                <div class="card-image">
                    <div class="header" style="color: blue; padding: 10px 2px 10px 10px">
                        <b>{{ fighterAsh.pokemon.id }} - {{ fighterAsh.pokemon.name }}</b>
                    </div>
                    <div>
                        <img [src]="fighterAsh.pokemon.picture" />
                    </div>
                    <br />
                    <div style="text-align: center">
                        <span class="{{ fighterAsh.pokemon.type | pokemonTypeColor }}">
                            {{ pokemonService.getPokemonType(fighterAsh.pokemon.type) }}
                        </span>
                    </div>
                    <div style="text-align: center">
                        <span class="{{ fighterAsh.pokemon.alignment | pokemonAlignmentColor }}">
                            {{ pokemonService.getAlignment(fighterAsh.pokemon.alignment) }}
                        </span>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content" style="padding: 10px 2px 10px 2px">
                        <div>
                            <small>
                                <b>Niveau : </b> {{ fighterAsh.pokemon.level }}
                                <br>
                                <b>Points de vie : </b> {{ fighterAsh.currentHitPoints }} ({{
                                    fighterAsh.pokemon.hitPoints }})
                                <br>
                                <progress id="progressBar" max="{{ fighterAsh.pokemon.hitPoints }}"
                                    value="{{ fighterAsh.currentHitPoints }}"></progress>
                                <br>
                                <b>Protection : </b> {{ fighterAsh.pokemon.protection }}
                                <br>
                                <b>Attaque : </b> {{ fighterAsh.pokemon.attack }}
                                <br>
                                <b>Dégâts : </b> {{ fighterAsh.pokemon.damage }}D6
                                <br>
                                <b>Défense : </b> {{ fighterAsh.pokemon.defense }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!fighterAsh" class="card horizontal" pokemon-Unknown-Fighter-Card>
                <img src="../../../assets/Unknown-fighter.png" class="imageCenter" />
            </div>
        </div>
        <div class="col m4">
            <img src="../../../assets/Pokemon-battle.png" width="100%" style="padding-top: 12px;" />
            <div [ngSwitch]="gamePhase">
                <!-- <div *ngSwitchCase=0>
                    Sélection des équipes
                    <button (click)="selectTeams()" class="button buttonSelectTeams">Sélectionner les combattants</button>
                </div> -->
                <div *ngSwitchCase=1>
                    <button (click)="selectFighters()" class="button buttonSelectFighters">Sélectionner les combattants</button>
                </div>
                <!-- <div *ngSwitchCase=2>
                    Sélection des combattants
                    <button (click)="fight()" class="button buttonFight">Combattre</button>
                </div>
                <div *ngSwitchCase=3>
                    Nouvelle partie
                 </div> -->
                <div *ngSwitchDefault>
                    Nouvelle partie
                </div>
            </div>
        </div>
        <div class="col m4">
            <div *ngIf="fighterGoh" class="card horizontal" pokemon-Fighter-Card [fighter]=fighterGoh>
                <div class="card-image">
                    <div class="header" style="color: blue; padding: 10px 2px 10px 10px">
                        <b>{{ fighterGoh.pokemon.id }} - {{ fighterGoh.pokemon.name }}</b>
                    </div>
                    <div>
                        <img [src]="fighterGoh.pokemon.picture" />
                    </div>
                    <br />
                    <div style="text-align: center">
                        <span class="{{ fighterGoh.pokemon.type | pokemonTypeColor }}">
                            {{ pokemonService.getPokemonType(fighterGoh.pokemon.type) }}
                        </span>
                    </div>
                    <div style="text-align: center">
                        <span class="{{ fighterGoh.pokemon.alignment | pokemonAlignmentColor }}">
                            {{ pokemonService.getAlignment(fighterGoh.pokemon.alignment) }}
                        </span>
                    </div>
                </div>
                <div class="card-stacked">
                    <div class="card-content" style="padding: 10px 2px 10px 2px">
                        <div>
                            <small>
                                <b>Niveau : </b> {{ fighterGoh.pokemon.level }}
                                <br>
                                <b>Points de vie : </b> {{ fighterGoh.currentHitPoints }} ({{
                                    fighterGoh.pokemon.hitPoints }})
                                <br>
                                <progress id="progressBar" max="{{ fighterGoh.pokemon.hitPoints }}"
                                    value="{{ fighterGoh.currentHitPoints }}"></progress>
                                <br>
                                <b>Protection : </b> {{ fighterGoh.pokemon.protection }}
                                <br>
                                <b>Attaque : </b> {{ fighterGoh.pokemon.attack }}
                                <br>
                                <b>Dégâts : </b> {{ fighterGoh.pokemon.damage }}D6
                                <br>
                                <b>Défense : </b> {{ fighterGoh.pokemon.defense }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!fighterGoh" class="card horizontal" pokemon-Unknown-Fighter-Card>
                <img src="../../../assets/Unknown-fighter.png" class="imageCenter" />
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="collection with-header col m12">
            <li class="collection-header">
                <span class="space"></span>
                <button (click)="attack()" class="button buttonAttack"
                    [disabled]="!isFighting() || (initiative == 1)">Attaquer</button>
                <span class="space"></span>
                <button (click)="defend()" class="button buttonDefense"
                    [disabled]="!isFighting() || (initiative == 0)">Défendre</button>
            </li>
            <li class="collection-item">
                <p>
                    {{ rounds[0] }}<br>
                    <span *ngIf="hits[0] == 1"><button class="miss">Raté</button></span>
                    <span *ngIf="hits[0] == 2"><button class="hit">Touché</button></span>
                    <span *ngIf="hits[0] == 3"><button class="victory">Victoire</button></span>
                    <span class="space"></span>{{ messages[0] }}
                </p>
            </li>
            <li class="collection-item">
                <p>
                    {{ rounds[1] }}<br>
                    <span *ngIf="hits[1] == 1"><button class="hit">Esquivé</button></span>
                    <span *ngIf="hits[1] == 2"><button class="miss">Blessé</button></span>
                    <span *ngIf="hits[1] == 3"><button class="defeat">Défaite</button></span>
                    <span class="space"></span>{{ messages[1] }}
                </p>
            </li>
        </ul>
    </div>
</div>